body {
	font-family: 'Nunito Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143;
	color: #464e5a;
	/* background-color: #f4f7fe; */
	margin-top: 0;
}
a, a:visited {
	color: #39a9db;
	font-weight: bold;
	text-decoration: underline;
}
h1{
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	padding: 0;
	line-height: 1em;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	color: #0083CB;
}
.header-afb, .content {
	background-color: #fff;
	margin: auto;
	width: 1200px;
	padding: 10px 0; 
}
ul {
    list-style:none;
}
.content { 
	min-height: 800px;
}
.title {
	background-color: #fff;
	border-left: 40px solid #0083CB;
}

.infos {
	padding:0 50px;
}
.header-afb {
	padding: 0;
	margin-bottom: 0;
	box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
}
.header-afb img {
	max-width: 150px;
	max-height: 100px;
	vertical-align: middle;
}
.infovalue {
	color: #0083CB;
}
.header-afb ul {
	padding: 0;
	display: inline;
	margin-left: 40px;
}
.header-afb ul li {
	display: inline-block;
	list-style: none; 
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	width: 130px;
	border:0;
}
.header-afb ul li a {
	display: block;	
	border-bottom: 3px solid white;
	padding : 35px 0;
	text-decoration: none;
	color: #000;
} 
.header-afb ul li a:hover, .header-afb ul li a:focus, .header-afb ul li a:active {
	border-bottom: 3px solid #003A76;
	background-color: #e5e8f1;
	color: #000;
}
.header-afb ul li a.selected {
	background-color:#7ebd26;
}
.column {
	float: left;
	width: 40%;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }

  .operationsprelevement {
	border-collapse: collapse;
	width: 100%;
  }
  
  .operationsprelevement td, .operationsprelevement th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  .operationsprelevement tr:nth-child(even){background-color: #f2f2f2;}
  
  .operationsprelevement tr:hover {background-color: #ddd;}
  
  .operationsprelevement th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
  }