<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{title}}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="header-afb"> 
                <img src="/img/Republique_Francaise_RVB.png" alt="République française" />
                <img src="/img/logo-ofb.png" alt="Office français de la biodiversité" />
                <ul>
                    <li><a href="{{path('homepage')}}">Consultation</a> </li>
                    <li><a href="{{path('admin')}}">Accès saisie</a></li>
                </ul>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
